body {background-color: #151515;}

h1 {font-family: 'Creepster', cursive;
	text-align: center;
	font-size: 125px;

}

.love{
	margin-top: 10px;
}

.main {
	
	height: 950px;
	z-index: -1;
	margin-top: 30px;
	font-family: 'Creepster', cursive;
	

}

.bg {
	height: 850px;
	
	z-index: -1;
	
}
#logo{
	height: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.gamearea{
	background-image: url("../img/Yinbg.jpg");
	height: 750px;
	z-index: -1; 

}

.zombie{
	background-image: url("../img/Yin.gif");
	background-repeat: no-repeat;
	height: 750px;
	z-index: 0;
}

.talkbox{
	background-image: url("../img/jagotalkbox.png");
	height: 250px;
	bottom: 200px;
	z-index: 1;
	position: relative;

}

/*.love{
	height: 100px;
	background-color:orange; 
	margin-top: 10px;
}*/

p{
	margin-top: 20px;

}

.button {
	padding: 10px;
	margin: 3px;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.button:hover {
	padding: 10px;
	margin: 3px;
	background-color: #535c1c;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}





